

.header {
    position: fixed;
    zIndex: 1;
    width: 100%
}

.loginBtn {
    position: relative;
    left: 0;
}

.header img {
    width: 100px;
}

.loginBlock {
    float: right;
}
.loginBlock a {
    color: white;
}

