.infoBlock {
    width: 700px;
    display: flex;

}

.descriptionBlock {
    max-width: 490px;
    padding-left: 40px;
}
.mainPhoto {
    width: 200px;
    margin-bottom: 10px;
}
.mainPhoto:hover .loadPhotoActive {
    margin-left: 10px;
    padding: 10px;
    background-color: khaki;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 147px;
    width: 180px;
    text-align: center;
    transition: 0.5s;
}
.mainPhoto h3 {
    display: none;
}

.mainPhoto:hover h3 {
    display: block;
}

.file {
    display: none;
}

.mainPhoto, img{
    max-width: 200px;
    max-height: 200px;
}

.contact {
    padding-left: 10px;
}

.profileFormInput {
    margin-bottom: 10px;
}

.ownerStatusBody:hover {
    background-color: Khaki;
}

.deviderText {
    font-size: 14px;
}

.deviderText:hover {
    color: chocolate;
}