.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    box-sizing: content-box;
    width: 150px;
    max-height: 50px;
    padding: 5px 20px;
}

.dialogsItems:hover {
    color: black;
}

.active {
    background-color: khaki;
}

.dialog {
    color: black;
}

.messages {
    padding-left: 20px;
}

.message {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: LightGoldenrodYellow;
}

.messageForm {
    margin-top: 20px;
    padding-left: 20px;
}

.error {
    color: red;
}